<div>
	<h1>Nightlife App</h1>
	<table class='table'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="contactlist.city"></td>
				<td><button id="find" class="btn btn-primary add" ng-click="findBars()">Find Bars</button></td>
			</tr>
			<tr ng-repeat="contact in contactlist.places">
				<td>{{contact.name}}</td>
				<td><a ng-show="isAuthenticated">{{contact.count}} Going</a>
				</td>
				<td>
					<a ng-show="isAuthenticated"><button class="btn btn-primary vote" ng-click="addVote(contact.name, contactlist.city)">RSVP</button></a>
				</td>				
			</tr>
		</tbody>
	</table>
</div>
