html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
	  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

.container-fluid {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.text-muted {
	margin: 0;
}

.name-row {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.barname {
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
}

.button-icon {
	display: flex;
	justify-content: flex-end;
}

.snippet {
	color: #000;
}

.footer-text {
	display: flex;
	align-items: center;
}

.footer-text p {
	margin-right: 1.5em;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

.yelp {
	height: 40px;
}

.github {
	height: 40px;
}

a.nounderline {
	text-decoration: none;
}

h2 {
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.bar-pic {
	width: 100px;
	margin-right: .75em;
	padding: 0;
}

.input {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
}

.bar-info button {
	padding: 3px 6px;
}

.info-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info-row li {
	margin-right: .8em;
}

.bar-item {
	display: flex;
	align-items: center;
	margin-top: 1em;
	border: 2px solid black;
	margin-left: 0px;
	margin-right: 0px;
}

.container {
	display: flex;
	flex-direction: row;
}