* {
  margin: 0;
  padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
	  font-family: 'Montserrat', sans-serif;
    background-color: #DCDCDC; 
}

h2 {
	font-size: 1.8em;
}

.title {
  font-size: 1.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
}

.barname {
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
}

.nounderline {
	color: #000
}

.footer-text {
	display: flex;
	align-items: center;
}

.footer-text p {
	margin-right: 1.5em;
  margin-bottom: 0;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #C0C0C0;
}

.yelp {
	height: 40px;
}

.github {
	height: 40px;
}

a.nounderline {
	text-decoration: none;
}

h2 {
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.input {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
}

.bar-info button {
	padding: 3px 6px;
}

.snippet {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5em;
}

.item {
  height: 340px;
  width: 440px;
  background-color: #fff;
  margin: 1.5em;
}

.bar-pic {
  margin-top: 1em;
  border-radius: 50%;
}

.img-yelp {
  border-radius: 25%;
}