<div class="container-fluid">
  <div class="content">
	  <h2>Find Bars Nearby and RSVP</h2>
  </div>
	<div class="row content">
		<div class='col-sm-4'>
		  <form class="input" ng-submit="findBars(); fetching()">
				<input class="form-control" placeholder="Enter City or ZIP" ng-model="barlist.city" required>
				<button class="btn btn-primary add">Find Bars</button>
			</form>
		</div>
	</div>
	<div class="fetching" ng-show="isFetching">
	  <p>Searching...</p>
  </div>
	<div class="status" ng-show="badLocation">
	  <p>Sorry we couldn't find any bars in <em>{{errorBar}}</em></p>
	</div>
	<div class="row content">
		<div class="big" ng-repeat="bar in barlist.places">
		  <div class="item">
				<div>
					<div class="bar-item">
						<div>
						  <a class="nounderline" ng-href="{{bar.url}}"><img class="bar-pic" ng-src="{{bar.image_url}}"></a>
						</div>
					  <div class="name-row">
				  	  <p><a class="nounderline barname" ng-href="{{bar.url}}">{{bar.name}}</a></p>
			  	  </div>
					  <div>
						  <p><button class="btn btn-primary vote" ng-show="!isAuthenticated" ng-click="authService.login(bar.name)">{{bar.rsvps.length}} Going</button></p>
						  <p><button class="btn btn-primary vote" ng-show="isAuthenticated" ng-click="addVote(bar.name, barlist.city)">{{bar.rsvps.length}} Going</button></p>
					  </div>
					  <div class="bar-address" ng-repeat="address in bar.location.display_address">
					  	<a class="nounderline" ng-href="{{bar.url}}">{{address}}</a>
				  	</div>
						<div class="snippet">
							<a class="nounderline" ng-href="{{bar.url}}">{{bar.snippet_text}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
