<div class="container-fluid">
	<div class="row">
		<div class='col-sm-4'>
		  <form class="input" ng-submit="findBars()">
				<input class="form-control" ng-model="barlist.city">
				<button id="find" class="btn btn-primary add" ng-click="findBars()">Find Bars</button>
			</form>
		</div>
	</div>
	<div class="row bar-item" ng-repeat="bar in barlist.places">
		<div class="col-sm-2 bar-pic">
		  <a class="nounderline" ng-href="{{bar.url}}"><img ng-src="{{bar.image_url}}"></a>
		</div>
		<div class="col-sm-6 bar-info">
			<ul>
				<li>
				  <div class="name-row">
			  	  <p><a class="nounderline barname" ng-href="{{bar.url}}">{{bar.name}}</a></p>
			  	  <div class="button-icon">
			  	  <p><button class="btn btn-primary vote" ng-show="!isAuthenticated" ng-click="authService.login(bar.name)">{{bar.rsvps.length}} Going</button></p>
			  	  <p><button class="btn btn-primary vote" ng-show="isAuthenticated" ng-click="addVote(bar.name, barlist.city)">{{bar.rsvps.length}} Going</button></p>
			  	  </div>
		  	  </div>
			  </li>
				<li><a class="nounderline snippet" ng-href="{{bar.url}}">{{bar.snippet_text}}</a></li>
			</ul>
		</div>
	</div>
</div>
